.DS_Store
.password
*.pyc
*/
!Praximes/
!Install/
!Library/
!Python/
!Requirements/
!praxa-cli
!praxa
!Praximes/Install/*
!Praximes/Library/*
!Praximes/Python/*
!Praximes/Requirements/*
!Templates/
!EnvHooks/
PipCache/*
*/PipCache/*
hook.log
hook.log.*
!pre*
!post*
!*.py