*/
!Praximes/
!Install/
!Library/
!Python/
!Requirements/
!praxa-cli
!praxa
!Praximes/Install/*
!Praximes/Library/*
!Praximes/Python/*
!Praximes/Requirements/*
!Templates/
!EnvHooks/
PraxaCache/*
*/PraxaCache/*
hook.log
hook.log.*
!pre*
!post*
!*.py
.DS_Store
*/.DS_Store
.password
*.pyc
*.pyo
