
#greenlet
#eventlet
pylibmc
boto

tornado
gunicorn
#uWSGI

psycopg2
pysolr
redis

fake-useragent
requests
requests-oauthlib
oauthlib
oauth2
httplib2
urllib3
pycurl

BeautifulSoup
beautifulsoup4
lxml
pyquery
simplejson
ujson
yajl
tablib
pyyaml
