
python-s3file
ujson
BeautifulSoup
nose

oursql
redis
hiredis

pyasn1
pycrypto
pyhash
rsa

requests
github2
httplib2
urllib3

tornado
gunicorn
Werkzeug
TornadIO2

rauth
requests-oauth
tweepy
python-openid
oauth2
oauthlib

fabric
django-fabfile
django-fabtastic
django-fab-templates
woven

django-fsfield
django-imagekit
django-nose

django-mediagenerator
django-jsmin
South

boto
django-storages
s3cmd
python-s3file

couchdbkit
django-docfield-couchdb

decorator
watchdog
chardet
pytz
python-dateutil

ujson
czjson
ijson
python-cjson
yajl
jsonlib
jsonlib2
demjson

BeautifulSoup
pyquery
elementtree
celementtree
httpie
pycurl
html5lib
feedparser

gevent
gevent-psycopg2


django-location
django-locations
django-locationstree
mahotas
imread
ipython
celery
celerymon
django-celery
django-oembed
django-kombu
pysolr
Whoosh
sphinxsearch
django-haystack
anyjson
jsonschema
jsonish
jsontools
pyyaml
msgpack-python
scipy
scikits-image
scimath
scikits-learn
nibabel
nltk
pandas
quantities
units
Pint
numexpr
pyhdf5io
h5py
tables
pycdf
Puppy
netCDF4
ncdftools
pupynere
CDF
Pydap
PydapSearch
DistributedPydap
pydap.handlers.hdf5
pydap.handlers.netcdf
pyisbn
book.isbn
isbnutils
pymarc
marcdb
PyZ3950
re2
bottlenose
python-amazon-simple-product-api
python-amazon-product-api
pygraphviz
pydot
reportlab
matplotlib
