watchdog
supervisor
superlance

pylibmc
#greenlet
#eventlet
gunicorn
psycopg2

xerox
bpython
requests
setproctitle
beautifulsoup4

yolk
simplejson
#pyyaml
pysolr

redis
httplib2
urllib3

httpie
boto
honcho
#uWSGI